@model IList<ProductVM>

@{
    ViewData["Title"] = "Home";

    var phraseImages = new List<string>()
    {
        "/images/phrase1.png",
        "/images/phrase2.png",
        "/images/phrase3.png",
        "/images/phrase4.png"
    };
}

<div class="image-slider">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
            <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100 slide-img" src="~/images/carousel-img3.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="w-100 slide-img" src="~/images/carousel-img2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="w-100 slide-img" src="~/images/carousel-img1.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon " aria-hidden="true"></span>
        </a>
    </div>
</div>

<div class="d-flex flex-column">
    <section>
        <div class="container-fluid row justify-content-center mb-5">
            <div class="col-12 d-flex flex-column align-items-center">
                <img src="~/images/best-seller.png" alt="Best seller" class="title-image mb-2" />
                <h3 class="title text-center">Check our most wanted products</h3>
            </div>
        </div>

        <div class="container-fluid row justify-content-center mb-5">
            @foreach(var bestseller in Model.Select((product, index) => new { index, product }))
            {
                var product = bestseller.product;

                if(bestseller.index % 2 == 0)
                {
                    <div class="row col-12 justify-content-center align-items-center pe-5 mb-5">
                        <div class="row col-12 col-md-6 justify-content-end justify-content-sm-center justify-content-lg-end align-items-center">
                            <div class="row col-12 col-md-6 col-lg-3 justify-content-center mb-3 mb-md-0">
                                <img class="bestseller-product-image" src="@Url.Action("GetImage", "Image", new { area = "Customer", imageType = ImageType.Thumbnail, id = product.ThumbnailImageId })" alt="Product thumbnail image" />
                            </div>
                            <div class="bestseller col-12 col-md-6 col-lg-3 grey-linear-gradient">
                                <h5 class="mb-4">@product.Name</h5>

                                @if (product.Description != null)
                                {
                                    <p class="poppins-font-family mb-4">@(product.Description.Length <= 30 ? product.Description : product.Description.Substring(0, 30) + "...")</p>
                                }

                                <div class="d-flex flex-column">
                                    @{
                                        string stockClass = product.QuantityInStock > 0 ? "on-stock" : "out-of-stock";
                                    }
                                    <span class="poppins-font-family @stockClass mb-4">@(product.QuantityInStock > 0 ? "On stock" : "Out of stock")</span>

                                    @if (product.OldPrice != null)
                                    {
                                        <s class="poppins-font-family old-price">€@product.OldPrice</s>
                                    }

                                    <span class="poppins-font-family mb-3">€@product.Price</span>
                                </div>

                                <a asp-controller="Products" asp-action="ProductDetails" asp-route-productId="@product.Id" class="btn-buy">Buy</a>
                            </div>
                        </div>
                        <div class="row col-12 col-lg-6 ps-5 phrase">
                            <img src="@phraseImages[bestseller.index]" alt="Phrase image" class="phrase-image" />
                        </div>
                    </div>
                }
                else
                {
                    <div class="row col-12 justify-content-center align-items-center pe-5 mb-5">
                        <div class="row col-12 col-lg-6 justify-content-end pe-5 phrase">
                            <img src="@phraseImages[bestseller.index]" alt="Phrase image" class="phrase-image" />
                        </div>
                        <div class="row col-12 col-md-6 justify-content-end justify-content-sm-center justify-content-lg-start align-items-center">
                            <div class="row col-12 col-md-6 col-lg-3 justify-content-center mb-3 mb-md-0">
                                <img class="bestseller-product-image" src="@Url.Action("GetImage", "Image", new { area = "Customer", imageType = ImageType.Thumbnail, id = product.ThumbnailImageId })" alt="Product thumbnail image" />
                            </div>
                            <div class="bestseller col-12 col-md-6 col-lg-3 grey-linear-gradient">
                                <h5 class="mb-4">@product.Name</h5>

                                @if (product.Description != null)
                                {
                                    <p class="poppins-font-family mb-4">@(product.Description.Length <= 30 ? product.Description : product.Description.Substring(0, 30) + "...")</p>
                                }

                                <div class="d-flex flex-column">
                                    @{
                                        string stockClass = product.QuantityInStock > 0 ? "on-stock" : "out-of-stock";
                                    }
                                    <span class="poppins-font-family @stockClass mb-4">@(product.QuantityInStock > 0 ? "On stock" : "Out of stock")</span>

                                    @if (product.OldPrice != null)
                                    {
                                        <s class="poppins-font-family old-price">€@product.OldPrice</s>
                                    }

                                    <span class="poppins-font-family mb-3">€@product.Price</span>
                                </div>

                                <a asp-controller="Products" asp-action="ProductDetails" asp-route-productId="@product.Id" class="btn-buy">Buy</a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </section>

    <section class="d-flex flex-column mb-5">
        <h2 class="title d-flex justify-content-center align-items-center">Newsletter</h2>
        <div class="newsletter d-flex justify-content-center align-items-center">
            <div class="newsletter-container d-flex flex-column align-items-center justify-content-center px-1">
                <p>Wanna be first to know about all special offers & promotions?</p>
                <div class="d-flex gap-2">
                    <input type="email" id="email" name="email" placeholder="Just input your e-mail" />
                    <button>Send</button>
                </div>
            </div>
        </div>
    </section>
</div>
